<?xml version="1.0" ?>
<launch>
  <arg name="model" default="$(find robot_description_description)/urdf/robot_description.xacro"/>
  <arg name="gui" default="false"/>
  <arg name="rvizconfig" default="$(find robot_description_description)/config/urdf.rviz"/>
  
<!--   <param name="robot_description" textfile="$(arg model)" /> -->
  <param command="xacro '$(find robot_description_description)/urdf/robot_description.xacro'" name="robot_description"/>

  <param name="use_gui" value="$(arg gui)"/>

  <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher"/>
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"/>
 
  <node name="rviz" pkg="rviz" args="-d $(arg rvizconfig)" type="rviz" required="true"/>

</launch>
